# macOS Finder preference files
.DS_Store

# JetBrains IDEs such as WebStorm
.idea/

# Third party Node JavaScript dependencies
node_modules/
yarn-error.log

# Next.js & Vercel
.next/
out/
build/
.vercel

# Environment variables for local development
.env